@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffb7c5;
}
h1, p{
    color: #6A4C93;
}

p{
    font-size: 30px;
    color: #A4B9E1;
}

.container{
    margin-top: 3rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 100%;
}

.container h1{
    width: 600px;
    font-size: 50px;
}

.container p{
    font-size: 30px;
    color: white;
}

.container h1, p{
    margin-left: 4rem;
    text-align: left;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.200);
}

.container img{
    position: absolute;
    height: auto;
    width: 500px;
    right: 10rem;
}

/*  */

.container2 span{
    font-weight: 800;
    color: #ea76b0;
}

.sublinhado{
    border-bottom: 3px solid black;
}

.container2 h1{
    margin-top: 2rem;
    font-size: 4rem;
}

.container2 p{
    color: black;
    font-size: 3rem;
}

.container2 h1{
    color: black;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 500px;
    width: 100%;
    position: relative;
}

.container2 img{
    position: absolute;
    height: auto;
    width: 450px;
    left: 40px;
    bottom: 0;
}

h2{
    margin-top: 30px;
    font-size: 30px;
    color: gray;
}

/*  */

.container3{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-color: white;
    width: 100%;
}

.container3 h1,p{
    color: black;
}

.container3 h1{
    font-size: 4rem;
}

.container3 p{
    font-size: 3rem;
}

.container3 span{
    color: #ea76b0;
}

.container3 h2{
    width: 1000px;
    text-align: center;
}

.container3 img{
    position: absolute;
    height: auto;
    width: 400px;
    right: 0;
    bottom: 0;
}

.container4{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.container4 h1{
    margin-bottom: 50px;
    font-size: 5rem;
}

.container4 button{
    border-radius: 50px;
    border: none;
    height: 75px;
    width: 300px;
    transition: 0.2s ease;
}

.container4 button a{
    font-size: 30px;
    text-decoration: none;
    color: #ea76b0;
}

.container4 button:hover{
    background-color: rgb(217, 217, 217);
}

.container4 h4{
    position: absolute;
    color: grey;
    bottom: 0;
}

@media only screen and (max-width: 1000px){
    body{
        display: none;
    }

}